// file: base.pug

html 
    head 
        title Torre Test Page 

        // CSS loader goes here

    body 
        .container
            block content 
        
        // Scripts for fonts locates here

        // Align footer to the page bottom in CSS
        .footer
            p Made as a technical test by Jose Gregorio Vallenilla.