extend base.pug

block content
    .fluid-container.pt-3.my-3.centered
        h1 Welcome to Torre Test Page

    .fluid-container.pt-3.centered
        p You can look for persons or opportunities from here.

    .fluid-container.my-5
        .row
            .col-md-6
                h3.centered Persons
                .space-vert
                .row.justify-content-center
                    .col-8
                        .d-grid
                            button.btn.btn-primary#getUsersBtn(type="button" onclick="getUsersBtn_click()") Get a list of users

            .col-md-6
                h3.centered Opportunities
                .space-vert
                .row.justify-content-center
                    .col-8
                        .d-grid
                            button.btn.btn-primary#getJobsBtn(type="button" onclick="getJobsBtn_click()") Get a list of opportunities