* {
    font-size: 14px;
}

h1 {
    font-family: 'Lato', 'sans-serif' !important;
    font-weight: bold !important;
}

body
{
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    vertical-align: top;
    width: 100%;
    line-height: 64px;
    margin: 0%;
    background-color: teal;
}

.header-menu {
    vertical-align:middle;
    margin: 0 16px;
}

.title {
    font-family: 'Lato', sans-serif !important;
    font-weight: bold;
    font-size: 1.5rem;
}

.menu-item {
    padding: 0 8px;
    color: white;
}

.menu-item:link {
    text-decoration: none;
}

.menu-item:visited {
    text-decoration: none;
}

.menu-item:hover {
    text-decoration: none;
}

.menu-item:active {
    text-decoration: none;
}

.card-element {
    border: 1px solid gray;
    border-radius: 4px;
    max-height: 250px;
}

.card-content {
    margin: 0;
}

.card-id {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: left;
}

.card-description {
    font-size: 1.25rem;
}

.card-employer {
    text-align: right;
}

.card-employment, .card-countries {
    font-size: 0.8rem;
}

/* Page Content */

.space-vert {
    margin: 16px 0;
}

.space-horz {
    margin: 0 16px;
}

.picture-hexagon {
    border: unset;
    border-radius: 0;
    width: calc(var(--size) - calc(var(--border-width) * 2));
    height: calc(var(--size) - calc(var(--border-width) * 2))!important;
    transform: translateY(var(--border-width));
    clip-path: polygon(45% 1.33975%,46.5798% .60307%,48.26352% .15192%,50% 0,51.73648% .15192%,53.4202% .60307%,55% 1.33975%,89.64102% 21.33975%,91.06889% 22.33956%,92.30146% 23.57212%,93.30127% 25%,94.03794% 26.5798%,94.48909% 28.26352%,94.64102% 30%,94.64102% 70%,94.48909% 71.73648%,94.03794% 73.4202%,93.30127% 75%,92.30146% 76.42788%,91.06889% 77.66044%,89.64102% 78.66025%,55% 98.66025%,53.4202% 99.39693%,51.73648% 99.84808%,50% 100%,48.26352% 99.84808%,46.5798% 99.39693%,45% 98.66025%,10.35898% 78.66025%,8.93111% 77.66044%,7.69854% 76.42788%,6.69873% 75%,5.96206% 73.4202%,5.51091% 71.73648%,5.35898% 70%,5.35898% 30%,5.51091% 28.26352%,5.96206% 26.5798%,6.69873% 25%,7.69854% 23.57212%,8.93111% 22.33956%,10.35898% 21.33975%);
    -webkit-clip-path: polygon(45% 1.33975%,46.5798% .60307%,48.26352% .15192%,50% 0,51.73648% .15192%,53.4202% .60307%,55% 1.33975%,89.64102% 21.33975%,91.06889% 22.33956%,92.30146% 23.57212%,93.30127% 25%,94.03794% 26.5798%,94.48909% 28.26352%,94.64102% 30%,94.64102% 70%,94.48909% 71.73648%,94.03794% 73.4202%,93.30127% 75%,92.30146% 76.42788%,91.06889% 77.66044%,89.64102% 78.66025%,55% 98.66025%,53.4202% 99.39693%,51.73648% 99.84808%,50% 100%,48.26352% 99.84808%,46.5798% 99.39693%,45% 98.66025%,10.35898% 78.66025%,8.93111% 77.66044%,7.69854% 76.42788%,6.69873% 75%,5.96206% 73.4202%,5.51091% 71.73648%,5.35898% 70%,5.35898% 30%,5.51091% 28.26352%,5.96206% 26.5798%,6.69873% 25%,7.69854% 23.57212%,8.93111% 22.33956%,10.35898% 21.33975%);
}

/* Footer */

.footer {
    min-height: 48px;
    width: 100%;
    margin: auto auto 0 auto;
}

.centered {
    text-align: center;
}